.dark {
  min-height: 100vh;
  background-color: #1b4079;
  color: white;
}

.dark .Navbar {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}

.dark .ButtonGroup {
  background-color: lightcyan;
}

.dark .Navbar button {
  padding: 12px;
  background-color: lightcyan;
  margin: 1px;
  border: none;
}

.dark .hyperlink a {
  color: white;
}
