.dark {
  min-height: 100vh;
  background-color: #1b4079;
  color: white;
}

.dark .Navbar {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}

.dark .ButtonGroup {
  background-color: lightcyan;
}

.dark .Navbar button {
  padding: 12px;
  background-color: lightcyan;
  margin: 1px;
  border: none;
}

.dark .baseCard {
  color: #1b4079;
  background-color: lightcyan;
  height: fit-content;
  justify-content: center;
  border: 2px, solid, lightcyan;
  margin: 20px;
  padding: 5px;
  border-radius: 7px;
}

.dark .baseCard .header {
  display: flex;
  justify-content: left;
}

.dark .hyperlink a {
  color: white;
}

.dark .employer {
  width: 50%;
}

.dark .school {
  width: 50%;
}
