.light {
  min-height: 100vh;
  background-color: lightcyan;
}

.light .Navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1b4079;
}

.light .ButtonGroup {
  background-color: lightblue;
}

.light .Navbar button {
  padding: 12px;
  background-color: lightblue;
  margin: 1px;
  border: none;
}

.light .hyperlink a {
  color: blue;
}
