:root {
  --lightPrimary: #f5f5f5;
  --lightSecondary: #93dff8;
  /* --lightSecondary: #1b4079; */
}

.light {
  min-height: 100vh;
  background-color: var(--lightPrimary);
  color: black;
}

.light .Navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--lightSecondary);
}

.light .Navbar button {
  padding: 12px;
  background-color: var(--lightSecondary);
  margin: 1px;
  border: none;
}

.light .iconButton button:hover {
  background-color: #769493;
  border-radius: 50%;
  height: fit-content;
}

.light .imageButton {
  pointer-events: none;
  opacity: 100%;
}

.light .baseCard {
  background-color: var(--lightPrimary);
  height: fit-content;
  width: 90%;
  margin: 20px;
  border-radius: 7px;
  box-shadow: 0px 4px 5px #a5a5a5;
}

.light .baseCard h4 {
  margin-left: 10px;
}

.light .baseCard p {
  margin-left: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
}

.light .cardHeader {
  height: 50px;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--lightSecondary);
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px #a5a5a5;
}

.light .cardHeader h3 {
  margin-left: 20px;
}

.light .cardHeader h5 {
  margin-left: 20px;
}

.light .hyperlink a {
  color: blue;
}
