.App {
  text-align: center;
}

.App-content {
  align-content: left;
  text-align: left;
}

.Navbar {
  background-color: #ff9900;
  display: flex;
  justify-content: space-between;
}

.Button-group {
}

.Navbar button {
  padding: 12px;
  margin: 1px;
  background-color: #22ff01;
  color: #282c34;
  border: none;
}

.Navbar button:hover {
  background-color: #ffa07a;
}

.App-header {
  background-color: #232f3e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.resume {
  display: flexs;
}

.Resume-Item {
  align-content: flex-start;
}
